@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,600;1,600&family=Quicksand:wght@300..700&display=swap");
body {
  background-color: #ffffff;
}
:root {
  --graphiteblack: #1c1c1c;
  --white: #ffffff;
  --indigo: #5d00ff;
  --pink: #ff2e91;
  --lime: #cfff04;
  --serif: "Libre Baskerville", serif;
}

.libre-baskerville {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@theme {
  --font-serif: "Libre Baskerville", serif;
  --font-baskerville: "Libre Baskerville", serif;
  --graphiteblack: #1c1c1c;
  --white: #ffffff;
  --indigo: #5d00ff;
  --pink: #ff2e91;
  --lime: #cfff04;
  --font-meow: "Quicksand";
}
.quicksand-meow {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
